<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>eduSnooker</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}">
</head>

<nav th:fragment="nav" class="navbar">
    <a th:href="@{/}"><img th:src="@{/image/es.png}"></a>
    <a th:unless="${#authentication.getName() eq 'anonymousUser'}"
       th:text="|logout ${#authentication.name}|"
       th:href="@{/logout}" class="login-button">Login</a>
    <a th:if="${#authentication.getName() eq 'anonymousUser'}"
       th:text="Login"
       th:href="@{/login}" class="login-button">Login</a>
</nav>

<footer th:fragment="footer">
    EduSnooker ®, developed by LukaszLebiecki.pl
</footer>