<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>eduSnooker</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}">
</head>

<nav th:fragment="nav" class="navbar">
    <a class="navbar_left" th:href="@{/}"><img th:src="@{/image/es.png}"></a>

    <a class="nav_user" th:unless="${#authentication.getName() eq 'anonymousUser'}">
        <div>
            <img th:src="|@{/image/}${level}|">
        </div>
        <div>
            <h2 th:text="${name}"></h2>
        </div>
        <div>
            <img th:src="|@{/image/}${progress}|">
        </div>
    </a>

    <a th:unless="${#authentication.getName() eq 'anonymousUser'}"
       th:text="logout"
       th:href="@{/logout}" class="login-button">Login</a>
    <a th:if="${#authentication.getName() eq 'anonymousUser'}"
       th:text="Login"
       th:href="@{/login}" class="login-button">Login</a>
</nav>

<footer th:fragment="footer">
    EduSnooker ®, developed by LukaszLebiecki.pl
</footer>