<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<nav th:unless="${#authentication.getName() eq 'anonymousUser'}" th:insert="fragments :: nav"></nav>

<body>

<div th:if="${#authentication.getName() eq 'anonymousUser'}" class="index">
    <section>
        <a href="/login"><img class="image" alt="Logo strony eduSnooker" th:src="@{/image/index.png}"></a>
    </section>
</div>

<div th:unless="${#authentication.getName() eq 'anonymousUser'}" class="main">
    <section class="box-img">
        <img th:src="@{/image/Frank02.png}">
    </section>
    <section class="box-main">
        <form method="get" class="login-form">
            <a type="submit" th:href="@{/exercise}" class="form-item">EXERCISE</a>
            <a type="submit" th:href="@{/exercise}" class="form-item">STATISTICS</a>
            <a type="submit" th:href="@{/exercise}" class="form-item">BASIS OF THE TECHNIQUE</a>
            <a type="submit" th:href="@{/exercise}" class="form-item">SCOREBOARD</a>
            <a type="submit" th:href="@{/exercise}" class="form-item">SETTINGS</a>
        </form>
    </section>
    <section class="box-img">
        <img th:src="@{/image/Frank01.png}">
    </section>
</div>
<footer th:unless="${#authentication.getName() eq 'anonymousUser'}" th:insert="fragments :: footer"></footer>
</body>
</html>