<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>eduSnooker</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}">
</head>
<body>
<nav class="navbar">
    <a><img th:src="@{/image/logo.png}"></a>
    <a href="#" class="login-button">Zaloguj</a>
</nav>
<section class="clock-bar">
    <form>
        <div>
            <a>12 : 12 : 12</a>
        </div>
        <button type="submit">START</button>
    </form>
</section>
<div class="main">
    <section class="column1">

    </section>
    <section class="column2">

    </section>
    <section class="column3">

    </section>
</div>
<footer>EduSnooker ®, developed by LukaszLebiecki.pl</footer>
</body>
</html>