<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}">
</head>
<body>
<nav class="navbar">
    <a><img th:src="@{/image/es.png}"></a>
    <a href="/login" class="login-button">Zaloguj</a>
</nav>
<section>
    <div>
        <form class="login-form" action="/login" method="post">
            <div>
                <h2 class="login-form-title">Login to eduSnooker</h2>
            </div>
            <div>
                <input name="username" placeholder="user name">
            </div>
            <div>
                <input name="password" placeholder="password" type="password">
            </div>
            <p>You don't have an account?  <a th:href="@{/register}">SIGN IN</a></p>
            <button type="submit" class="form-item">LOGIN</button>
        </form>
    </section>
    <section class="box-img">
        <img th:src="@{/image/Frank01.png}">
    </section>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>